.fullpage
{
    width: 100%;
    height: 100vh;
    background-image: url(https://wttc.org/DesktopModules/MVC/NewsArticleList/images/141_20201013185512_Consumer%20Survey%20Finds%2070%20Percent%20of%20Travelers%20Plan%20to%20Holiday%20in%202021.jpg);
    background-position: center;
    background-size: cover;
}
li
{
    display: inline
}
.service-list
{
    display: inline-block
}