{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>History</h2>
    <div class="container">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{transaction["symbol"]}}</td>
                        <td>{{transaction["quantity"]}}</td>
                        <td>{{transaction["price"] | usd}}</td>
                        <td>{{transaction["date"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}