{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>LOGGED IN</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for bday in bdays %}
                <tr>
                    <td>{{bday["name"]}}</td>
                    <td>{{bday["month"]}}/{{bday["day"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}