{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <!-- <div style="display: flex; flex-direction: column;"> -->
        <span style="font-size: 36px; font-weight: 500;">{{name}}</span>
        <span style="font-size: 26px;">({{symbol}})</span>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items:center;">
            <h1>{{price}}</h1>
            <span style="font-size: 22px;">USD</span>
        </div>

    <!-- </div> -->

{% endblock %}