{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <span>Cash Balance: {{balance | usd}}</span>
    <span>Grand Total: {{grandTotal | usd}}</span>
    <div class="container">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                    {% for share in shares %}
                    <tr>
                        <td>{{share["symbol"]}}</td>
                        <td>{{share["name"]}}</td>
                        <td>{{share["quantity"]}}</td>
                        <td>{{share["price"] | usd}}</td>
                        <td>{{share["total"] | usd}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
            <label for="floatingSelect">Works with selects</label>
            <select class="form-select mx-auto w-auto" name="cars" id="floatingSelect">
                <!-- <option value="select">Select Symbol</option> -->
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="0">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}